#menu {
    position: absolute;
    top: 55px;
    right: 5%;
}
#logo {
    width: 75px;
    height: 75px;
    left: 0px;
    margin-top: 0px;
    margin-left: -25px;
}
nav {
    text-align: center;
    border-width: 90%;
    font-size: 16px;
   text-align-last: justify;

}

header h2 {
    text-align: center;
    background-color: cornflowerblue;
    width: 101%;

}
.monday{
    padding-top: 3px;
    padding-left: 2px;
}

.monday img{
    position: absolute;
    top: 28%;
    right: 7%;
    z-index: -5;
}

body {
    margin:10%;
}

.tuesday {
    padding-top: 5px;
    padding-left: 2px;
}
.tuesday img{
    position: absolute;
    top: 50%;
    right: 7%;
    z-index: -5;
}
 .hourly {
    text-align: center;
    background-color: darkgrey;
     border-right-width: 10px;
     border-style: solid;
     border-width: 1px;
     width: 115px;
    margin-left: 35%;
     margin-top: 0px;

}
hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 101%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: 1px solid black;

}
.wednesday {
    padding-top: 5px;
    padding-left: 2px;
}
.wednesday img{
    position: absolute;
    top: 71%;
    right: 7%;
    z-index: -5;
}
.extended, .monthly {
    text-align: center;
    border-style: solid;
    padding: 3px;
    margin-bottom: 8px;
    background-color: darkgray;
    width: 99%;

}
.closing {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    width: 100%;
    border-style: solid;
    height: 19px;
}
.monday, .tuesday, .wednesday {
    font-size: 16px;
}
#wireframe {
    width: 300px;
}
