body{
    margin: 0;
}
#wrapper{
    display: flex;
    flex-direction: column;
}
header{
    background-color: aqua;
}
main{
    background-color: chocolate;
    width: 60%;
/*    height: 400px;*/

}
nav{
    background-color: chartreuse;
    width: 20%;
/*    height: 500px;*/

}
footer{
    background-color: red;
}
aside{
    background-color: orange;
    width: 20%;
}
#row{
    display: flex;
/*    flex-direction: column;*/
    height: 500px;
}
